<div class = "container">
    <h1>Todo List</h1>

    <%= link_to "タスクを追加する", new_todo_path, class:"new-task"%>

    <ul>
        <% @todos.each do |todo| %>
        <li>
            <span>
                <%= todo.title %> <%= todo.introduction%>
            </span>
            <div>
                <%= link_to "編集", edit_todo_path(todo), class: "edit" %>
                <%= link_to "削除", todo_path(todo), data: { "turbo-method": :delete }, class: "delete" %>
            </div>
        <% end %>
    </ul>
</div>