<% provide(:title, @todo) %>
<div class = "container">
    <h1>Todo List</h1>

    <%# ここにタスクを追加するリンクを追加 %>
    <%= link_to "タスクを追加する", new_todo_path, class: 'new-task'%>

    <%# ここにタスクの一覧を表示する %>
    <div class = "todo_list">
        <%# 繰り返し処理を使って、タスクの一覧を表示する %>
        <% @todos.each do |todo| %>
            <%# タスクのチェックボックスを表示 %>
            <div class = "todo">
                <%= button_to todo.checkbox ? "完了" : "進行中", 
                toggle_complete_todo_path(todo),
                method: :patch, class: 'check' %>
                <%= todo.title %> <%= todo.introduction %>
                <%# タスクの編集リンクを表示 %>
                <div class = 'edit-delete'>
                    <%= link_to "編集", edit_todo_path(todo), class: 'edit' %>
                    <%= button_to "削除", todo_path(todo), method: :delete , class: 'delete' %>
                </div>
            </div>
        <% end %>
    </div>
</div>